@using OnlineShop.Ui.Models.Articles;
@inject ILoginStatusManager LoginStatusManager
@inject NavigationManager NavigationManager
@inject States.CartState CartState
@inject IJSRuntime jSRuntime
@rendermode RenderMode.InteractiveServer

<div class="row" id="@Article.Id">
    <div class="col-2 d-flex justify-content-start align-items-center p-1">
      <span>@Article.Name</span>
    </div>
    <div class="col-3 d-flex justify-content-start align-items-center p-1">
      <span>@Article.Description</span>
    </div>
	<div class="col-2 d-flex justify-content-center align-items-center p-1">
      <span>@Article.Price.ToString("0.00") EUR</span>
    </div>

    <div class="col-2 d-flex justify-content-center align-items-center p-1">    
        <input class="input form-control mx-1" type="number" name="quantity" @bind="Quantity"/>
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center p-1">
        <button type="button" class="btn btn-primary details" @onclick="Navigate">Details</button> &nbsp; &nbsp;
        @if (LoginStatusManager.LoginStatus.Token?.IsLoggedIn ?? false)
        {
            <button class="btn btn-primary buy" type="button" @onclick="async _ => await AddArticleToCart()">Buy</button>
        }
    </div>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public Article Article { get; set; } = new();
    public int Quantity { get; set; } = 0;

    protected override void OnInitialized()
    {
        LoginStatusManager.LoginStatusHasChanged += async (o, e) => await InvokeAsync(StateHasChanged);
    }

    public void Navigate()
    {
        NavigationManager.NavigateTo($"/articles/{Article.Id}");
    }

    private async Task AddArticleToCart()
    {
        var addToCartResult = await CartState.AddArticleToCartAsync(Article.Id, Quantity);
        if (addToCartResult)
        {
            await jSRuntime.InvokeVoidAsync("alert", $"{Article.Name} {AlertMessages.AddToCartSuccess}");
            return;
        }

        await jSRuntime.InvokeVoidAsync("alert", AlertMessages.AddToCartError);
    }
}
